.boxes {
    display: flex;
    justify-content: space-around;

}

@media only screen and (max-width: 600px){
    .h1 {
        font-size: 30px;
    }
    .h2{
    
        font-size: 18px;
    }
        }
    